@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');


h1{color:var(--dark)}
h1{font-family: 'Lobster', cursive;}
p{font-family: 'Arvo', serif;}
p{color:var(--dark-color);}
h1{font-size: 120px;}
h2{color:var(--beige-color)}
h2{font-family: 'Arvo', serif;}
h2{font-style: italic ;}
h2{font-weight: bold;}
h2{font-size: 30px;}
body{background-color: var(--beige-color);}


:root{
  --beige-color: #EBE3A3;
  --dark-color: #070707;
  --white-color:#faf8f8;
  --gray-color: rgb(204,212,222);
  --blue-color: #90E7FC;
  --oscuro-color: #082032;
  --fondo-color: #A0A48A;
  --azuloscuro-color: #3D425F; 
}

.header{
  background-image: url(../img/Personajes2.jpg);
  height: 12rem;
  width: 100%;
  text-align: center;
}

.header h1{
  color: var(--oscuro-color);
  text-shadow: 2px 2px 2px var(--dark-color);
  border: var(--white-color);
  margin: 0px auto;
}

.title{
  background-color: rgba(204,212,222,0.6);
  width: 100%;
  height: 12rem;
}
.nav{
 
  background-color: var(--oscuro-color);
  height: 40px;
  width: 100%;
}
.nav1{
  display: flex;
  justify-content: space-around;
}
.nav1 a{
  color: var(--white-color);
  text-decoration: none;
  display: flex;
  margin-top: 0.5rem;
}

.item:hover{
  color: rgba(255,255,255, 0.4);
  border-bottom: 2px solid var(--gray-color);
  transform: scale(1.1);
  transition: transform ;
}

.busqueda{
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}

.titulo2{
  text-align: center;
  color: var(--azuloscuro-color);
  text-shadow: 2px 2px 2px var(--gray-color);
}
#biografia{
  display: flex;
  justify-content: center;
}
#biografia img{
  border-radius: 50%;
  border: 2px solid var(--azuloscuro-color);
  box-shadow: 1px 1px 2px var(--oscuro-color);
  margin: 1rem;
  width: 300px ;
  height: 300px;
}
.biografia{
  display: flex;
  flex-direction: column;
  margin: 1rem;
  text-align: justify;
}
#quien-es{
  display: flex;
  border: 2px groove var(--azuloscuro-color);
}
.seccion{
  margin: 2rem;
  display: flex;
  flex-basis: 45%;
}
.seccion img{
  border-radius: 30%;
  border: 2px solid var(--azuloscuro-color);
  box-shadow: 1px 1px 2px var(--oscuro-color);
  margin: 1rem;
  width: 250px ;
  height: 300px;
}
.quien_es{
  display: flex;
  flex-direction: column;
  text-align: justify;
}
.quien_es h2{
  color: var(--azuloscuro-color);
  text-align: center;
}