@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');


h1{color:var(--dark)}
h1{font-family: 'Lobster', cursive;}
p{font-family: 'Arvo', serif;}
p{color:var(--dark-color);}
p{font-size: 16px;}
h1{font-size: 120px;}
h2{color:var(--oscuro-color)}
h2{font-family: 'Arvo', serif;}
h2{font-style: italic ;}
h2{font-weight: bold;}
h2{font-size: 30px;}
body{background-color: var(--beige-color);
}


:root{
  --beige-color: #fcf7d6;
  --dark-color: #070707;
  --white-color:#faf8f8;
  --gray-color: rgb(204,212,222);
  --blue-color: #90E7FC;
  --oscuro-color: #082032;
  --fondo-color: #A0A48A;
  --azuloscuro-color: #3D425F; 
}

.header{
  
  background-image: url(../img/Personajes2.jpg);
  height: 13rem;
  text-align: center;
  width: 100%;
}
.header h1{
  
  color: var(--oscuro-color);
  text-shadow: 2px 2px 2px var(--dark-color);
  border: var(--white-color);
  margin: 0px auto;
  font-size: 4.5rem;
}
.title{
  background-color: rgba(204,212,222,0.6);
  height: 13rem;
}
nav{
  background-color: var(--oscuro-color);
  width: 100%;
  padding: 0.5rem 0rem 0.5rem 0rem;
}
.nav1{
  display: flex;
  flex-direction: column;
}
.nav1 a{
  color: var(--white-color);
  text-decoration: none;
  font-size: 14px;
  margin: 0 0.5rem;
}
.item:hover{
  color: rgba(255,255,255, 0.4);
  border-bottom: 2px solid var(--gray-color);
  transform: scale(1.1);
  transition: transform ;
}
.busqueda{
  display: flex;
  justify-content: center;
  margin: 1rem;
}
.titulo2{
  text-align: center;
  font-size: 28px;
  color: var(--azuloscuro-color);
  text-shadow: 2px 2px 2px var(--gray-color);
}
#biografia{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#biografia img{
  border-radius: 50%;
  border: 2px solid var(--azuloscuro-color);
  box-shadow: 1px 1px 2px var(--oscuro-color);
  margin: 1rem;
  width: 280px;
  height: 300px;
  animation: zoomrotate 2s 2;
}
@keyframes zoomrotate{
    20%{transform: rotate(-6deg); transform: scale(0.7);}
    30%, 70%{ transform: scale(1.1); transform: rotate(6deg);}
    50%, 90%{ transform: scale(1.1); transform: rotate(-6deg);}
}

.biografia{
  display: flex;
  flex-direction: column;
  margin: 2rem;
  text-align: justify;

}
.carrera{
display: flex;
width: 100%;
}
.carrera img{
  width: 675px;
  height: 250px;
}

.peliculas{
  display: flex;
  flex-wrap: wrap;
}

.peli{
  flex-basis: 45%;
}
.peli2{
  width: 1200px;
  margin: 0px auto;
}
#quien-es{
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0px auto 10px auto;
  border: 2px groove var(--azuloscuro-color);
  background:linear-gradient(#79AFAD,#B8DCDA); 
  border-radius: 80px 0 80px 0;
  box-shadow: 2px 2px 6px var(--dark-color);
}
.seccion{
  margin: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.seccion img{
  border-radius: 30%;
  border: 2px solid var(--azuloscuro-color);
  box-shadow: -1px -1px 2px var(--oscuro-color);
  margin: 0.2rem;
  width: 100px ;
  height: 150px;

}
.quien_es{
  display: flex;
  flex-direction: column;
  text-align: justify;
}
.quien_es h2{
  color: var(--azuloscuro-color);
  text-align: center;
  text-shadow: 1px 1px 2px var(--white-color);
  margin-top: 2px;
}
.form{
  display: flex;
  flex-direction: column;
  margin: 2px auto;
  height: 100%;
  border: 1px 1px 2px var(--oscuro-color);
  background-color: var(--gray-color);
  max-width: 100%;
  width: 80%;
  box-shadow: 1px 1px 3px var(--dark-color);
  border-radius: 5px;
  padding: 20px;
}
.form-group{
    display: flex;
    flex-direction: column;
    margin: 0px;
}
.form-label{
  font-weight: bold;
  margin: 5px 0px;
 
}
.form-input{
  border: 3px solid var(--gray-color);
  padding: 0.1rem;
  outline: none;
  box-shadow: 1px 1px 2px var(--azuloscuro-color);
}
.btn-azul{
  padding: 0.5rem;
  margin: 0px 0.5rem;
  font-weight: 500;
  border: 2px solid var(--gray-color);
  cursor: pointer;
  background-color: var(--blue-color);
  box-shadow: 1px 1px 0.5px var(--dark-color);
  }
.section1{
  flex-basis: 45%;
  margin: 0px 1rem;
}
.botones{
  display: flex;
  justify-content: center;
}
.radio{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
}
.select{
  margin: 8px 0px;
  flex-basis: 50%;
}
.btn{
  margin: 20px 1px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

footer{
  background-color: var(--oscuro-color);
  width: 100%;
  height: 100%;
  margin-top: 30px;
}
.box-footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.foot{
  color: var(--beige-color);
}
.foot i{
  color: var(--beige-color);
  margin: 2px 3px;
}
.foot a{
  font-size: 20px;
  color: var(--beige-color);
  text-decoration: none;
  margin: 3px 12px;
}
.table{
max-width: 480px;
max-height: 900px;
width: 100%;
background-color: var(--gray-color);
margin: 1rem auto;
}
.table th{
  background-color: var(--blue-color);
  font-size: 20px;
  text-shadow: 1px 1px 2px var(--oscuro-color);
}
.table img{
  width: 100px;
  height: 100px;
  margin: 2rem ;
  border-radius: 50%;
}
.table td{
    color: var(--dark-color);
    margin: 2rem;
    text-align: center;
}
.table tr{
  height: 3rem;
}

/*formulario peliculas*/

.titulo23{
  display: flex;
}
.formpel{
  display: flex;
  justify-content: flex-start;
  margin: 2px 80px;
  height: 80vh;
  border: 1px 1px 2px var(--oscuro-color);
  background-color: var(--gray-color);
  max-width: 700px;
  width: 100%;
  box-shadow: 1px 1px 3px var(--dark-color);
  border-radius: 5px;
  padding: 2px;
}
.form-group{
    display: flex;
    flex-direction: column;
    margin: 0px;
}
.form-label{
  font-weight: bold;
  margin: 10px 0px;
 
}
.form-input{
  border: 3px solid var(--gray-color);
  padding: 0.1rem;
  outline: none;
  box-shadow: 1px 1px 2px var(--azuloscuro-color);
}
.btn-azul{
  padding: 0.5rem;
  margin: 0px 0.5rem;
  font-weight: 500;
  border: 2px solid var(--gray-color);
  cursor: pointer;
  background-color: var(--blue-color);
  box-shadow: 1px 1px 0.5px var(--dark-color);
  }
.section1{
  flex-basis: 45%;
  margin: 0px 1rem;
}
.botones{
  display: flex;
  justify-content: center;
}
.radio{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
}
.select{
  margin: 8px 0px;
  flex-basis: 50%;
}
.btn{
  display: flex;
  justify-content: space-around;
  margin: 10px 1px;
}
.formulario{
  margin: 0px auto;
}

/*carrera*/
.banner {
  display: flex;
  width: 100%;
  border-radius: 10px;
}
.banner img{
  width: 269px;
  height: 270px;
}
.premios{
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
}
.table2{
  flex-basis: 45%;
}

@media screen and (min-width:780px) {
      .header h1{  
          font-size: 7.5rem;
        }
      .nav1{
        flex-direction: row;
        justify-content: space-around;
      }
      .nav1 a{
          font-size: 20px;
        }
      .busqueda{
        justify-content: flex-end;
      }
      #biografia img{
          border-radius: 50%;
          border: 2px solid var(--azuloscuro-color);
          box-shadow: 1px 1px 2px var(--oscuro-color);
          margin: 1rem;
          width: 350px;
          height: 300px;
      }
      .seccion{
        flex-basis: 45%;}

      #quien-es{
        width: 95%;
        display: flex;
        flex-direction: row;
      }
      .form{
        display: flex;
        flex-direction: row;
        height: 90%;
      }
      .box-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
      }

 }
 @media screen and (min-width:1024px) {
    
      .nav1 a{
        font-size: 22px;
      }
      #biografia{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

 }
 @media screen and (min-width:1200px) {
  .nav1 a{
    font-size: 23px;
  }
  .titulo2{
    font-size: 50px;
  }
  #biografia p{
    font-size:20px;
  }
  .quien_es p{
    font-size: 20px;
  }
  .seccion img{
    width: 180px ;
  }
  .quien_es h2{
    font-size: 32px;
  }
  .quien_es li{
    font-size: 20px;
  }
  #quien-es{
    align-items: flex-start;
    justify-content: center;
  }
  .form{
    font-size: 20px;
  }
}
